<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.3/build/spline-viewer.js"></script>
<div style="position: relative; width: 100%; height: 100vh;">
  <spline-viewer url="https://prod.spline.design/QeKafq1dtccq1iUp/scene.splinecode" style="width: 100%; height: 100%;"></spline-viewer>
  <div style="position: absolute; top: 10px; left: 10px; z-index: 1000;">
    <audio id="background-audio" autoplay>
      <source src="<%= asset_path 'old_new_times.mp3' %>" type="audio/mpeg">
    </audio>
  </div>
</div>