<nav>
    <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Music', music_path %></li>
    </ul>
</nav>
<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.3/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/QeKafq1dtccq1iUp/scene.splinecode"></spline-viewer>