<body class="bg-black">
    <nav>
      <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', about_path %></li>
          <li><%= link_to 'Music', music_path %></li>
      </ul>
    </nav>
    <div class="logo">
    </div>
</body>
</html>
